<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655858070572-jhijaiamigmf1bpnk1ivg8jt1637m62o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655858070572-jhijaiamigmf1bpnk1ivg8jt1637m62o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655858070572-erpqt3hs70kq78sle7alcd2cla19ebdc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBi2oAOq_Hkow6qd6_P8q2deOLROtk6nc</string>
	<key>GCM_SENDER_ID</key>
	<string>655858070572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-phone-authentica-5fbed</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-phone-authentica-5fbed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655858070572:ios:0579a3b02c0bb806cacd89</string>
</dict>
</plist>